# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
data/
old/
scraping/archive_csv/
research/*.csv
research/*.npy
checkpoint_state.json
scraped_games.csv
scraped_reviews.csv
*_inprogress.csv
sample_games.csv

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
