# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
venv310/
ENV/
env.bak/
venv.bak/

# Project Specific
data/*
!data/trending_appids.json
!data/validated_steam_links.json
!data/production/
data/production/*
!data/production/regularization_constants.json
!data/production/similarity_lists.json
old/
scraping/archive_csv/
research/*.csv
research/*.npy
checkpoint_state.json
*_inprogress.csv
sample_games.csv

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
research/playtime_curve_115300.png
research/playtime_curve_201270.png
research/playtime_curve_900883.png
research/playtime_curve_1021210.png
research/playtime_curve_1931180.png
research/playtime_curve_1934570.png
research/playtime_curve_2001070.png
research/playtime_curve_2238470.png
research/playtime_curve_2274620.png
research/playtime_curve_2995920.png
research/playtime_analysis/playtime_sentiment_201270.png
research/playtime_analysis/predictions_201270.csv
